
    @font-face {
        font-family: irn;
        src: url(../fonts/iran.ttf);
    }
*{
    font-family: irn;
    direction: rtl;
    box-sizing: border-box;

}
body{
    font-size: 16px;
    margin: 0;
}
a{
    text-decoration: none;
}